In [2]:
import pandas as pd

#this is a set of data containing all of the necessary stats for each team for the model to work
data = {
    "Team": [
        "Arsenal", "Aston Villa", "Bournemouth", "Brentford", "Brighton",
        "Chelsea", "Crystal Palace", "Everton", "Fulham", "Liverpool",
        "Luton Town", "Manchester City", "Manchester United", "Newcastle United",
        "Nottingham Forest", "Sheffield United", "Tottenham Hotspur", "West Ham United", "Wolverhampton"
    ],
    "Avg Goals/Game": [2.04, 1.96, 1.71, 1.75, 1.46, 1.96, 1.50, 1.21, 1.60, 2.00, 1.10, 2.00, 1.85, 1.75, 1.30, 0.75, 2.18, 1.21, 1.40],
    "Avg Goals Against/Game": [0.92, 1.29, 1.17, 1.75, 1.58, 1.29, 1.50, 1.92, 1.60, 1.46, 2.00, 1.46, 1.25, 1.21, 1.90, 2.25, 1.28, 1.92, 1.70],
    "Avg Possession (%)": [61.5, 55.2, 45.9, 44.8, 54.3, 58.7, 49.2, 47.3, 50.1, 62.0, 42.5, 65.8, 55.4, 53.7, 44.0, 41.8, 57.6, 48.5, 46.2],
    "Avg Shots/Game": [16.79, 14.38, 14.21, 12.10, 15.25, 14.00, 11.75, 10.50, 12.00, 17.25, 9.00, 18.20, 14.50, 15.75, 10.25, 8.75, 16.00, 13.25, 11.50],
    "Recent Form": [0.60, 0.50, 0.40, 0.70, 0.50, 0.55, 0.45, 0.35, 0.50, 0.75, 0.20, 0.80, 0.60, 0.65, 0.30, 0.15, 0.70, 0.55, 0.45]
}

df = pd.DataFrame(data)

# Save to CSV
df.to_csv("premier_league_2023_24.csv", index=False)

print("Dataset saved!")

Dataset saved!

In [3]:
import pandas as pd

file_path = r"C:\Users\lebda\Downloads\archive\matches.csv"
df = pd.read_csv(file_path)

print(df.head())

   Unnamed: 0        Date   Time            Comp        Round  Day Venue  \
0           1  2023-08-11  20:00  Premier League  Matchweek 1  Fri  Away
1           3  2023-08-19  20:00  Premier League  Matchweek 2  Sat  Home
2           4  2023-08-27  14:00  Premier League  Matchweek 3  Sun  Away
3           5  2023-09-02  15:00  Premier League  Matchweek 4  Sat  Home
4           6  2023-09-16  15:00  Premier League  Matchweek 5  Sat  Away

  Result  GF  GA  ...  Match Report  Notes    Sh   SoT  Dist   FK PK PKatt  \
0      W   3   0  ...  Match Report    NaN  17.0   8.0  13.9  0.0  0     0
1      W   1   0  ...  Match Report    NaN  14.0   4.0  17.9  0.0  0     0
2      W   2   1  ...  Match Report    NaN  29.0   9.0  17.3  2.0  0     1
3      W   5   1  ...  Match Report    NaN   6.0   4.0  14.8  0.0  1     1
4      W   3   1  ...  Match Report    NaN  29.0  13.0  16.4  1.0  0     0

  Season            Team
0   2024  ManchesterCity
1   2024  ManchesterCity
2   2024  ManchesterCity
3   2024  ManchesterCity
4   2024  ManchesterCity

[5 rows x 28 columns]

In [4]:
df.columns = df.columns.str.strip().str.lower()
print(df.columns)

Index(['unnamed: 0', 'date', 'time', 'comp', 'round', 'day', 'venue', 'result',
       'gf', 'ga', 'opponent', 'xg', 'xga', 'poss', 'attendance', 'captain',
       'formation', 'referee', 'match report', 'notes', 'sh', 'sot', 'dist',
       'fk', 'pk', 'pkatt', 'season', 'team'],
      dtype='object')

In [5]:
df_h2h = df[["team", "opponent", "gf", "ga", "result"]]
print(df_h2h.head())

             team       opponent  gf  ga result
0  ManchesterCity        Burnley   3   0      W
1  ManchesterCity  Newcastle Utd   1   0      W
2  ManchesterCity  Sheffield Utd   2   1      W
3  ManchesterCity         Fulham   5   1      W
4  ManchesterCity       West Ham   3   1      W

In [6]:
def match_result(row):
    if row["result"] == 'W':
        return 1
    elif row["result"] == 'L':
        return -1
    else:
        return 0
df["match_result"] = df.apply(match_result, axis=1)
df["match_result"].value_counts()
print(df.head())

   unnamed: 0        date   time            comp        round  day venue  \
0           1  2023-08-11  20:00  Premier League  Matchweek 1  Fri  Away
1           3  2023-08-19  20:00  Premier League  Matchweek 2  Sat  Home
2           4  2023-08-27  14:00  Premier League  Matchweek 3  Sun  Away
3           5  2023-09-02  15:00  Premier League  Matchweek 4  Sat  Home
4           6  2023-09-16  15:00  Premier League  Matchweek 5  Sat  Away

  result  gf  ga  ... notes    sh   sot  dist   fk pk pkatt season  \
0      W   3   0  ...   NaN  17.0   8.0  13.9  0.0  0     0   2024
1      W   1   0  ...   NaN  14.0   4.0  17.9  0.0  0     0   2024
2      W   2   1  ...   NaN  29.0   9.0  17.3  2.0  0     1   2024
3      W   5   1  ...   NaN   6.0   4.0  14.8  0.0  1     1   2024
4      W   3   1  ...   NaN  29.0  13.0  16.4  1.0  0     0   2024

             team  match_result
0  ManchesterCity             1
1  ManchesterCity             1
2  ManchesterCity             1
3  ManchesterCity             1
4  ManchesterCity             1

[5 rows x 29 columns]

In [7]:
df_h2h = df[["team", "opponent", "gf", "ga", "match_result"]]
print(df_h2h.head())

             team       opponent  gf  ga  match_result
0  ManchesterCity        Burnley   3   0             1
1  ManchesterCity  Newcastle Utd   1   0             1
2  ManchesterCity  Sheffield Utd   2   1             1
3  ManchesterCity         Fulham   5   1             1
4  ManchesterCity       West Ham   3   1             1

In [8]:
# Ensure that the dataset is properly sorted before applying rolling calculations
df_h2h = df_h2h.sort_values(by=["team", "opponent"]).reset_index(drop=True)

# Compute rolling averages (needed lots of help with this one to staying within the frame index because it didn't at first)
df_h2h["head_to_head"] = (df_h2h.groupby(["team", "opponent"])["match_result"].transform(lambda x: x.rolling(window=5, min_periods=1).mean()))
df_h2h["head_to_head_goals"] = (df_h2h.groupby(["team", "opponent"])["gf"].transform(lambda x: x.rolling(window=5, min_periods=1).mean()))

df_h2h.head(20)

,team,opponent,gf,ga,match_result,head_to_head,head_to_head_goals
0,Arsenal,Aston Villa,0,1,-1,-1.0,0.0
1,Arsenal,Aston Villa,0,2,-1,-1.0,0.0
2,Arsenal,Bournemouth,4,0,1,1.0,4.0
3,Arsenal,Bournemouth,3,0,1,1.0,3.5
4,Arsenal,Brentford,1,0,1,1.0,1.0
5,Arsenal,Brentford,2,1,1,1.0,1.5
6,Arsenal,Brighton,2,0,1,1.0,2.0
7,Arsenal,Brighton,3,0,1,1.0,2.5
8,Arsenal,Burnley,3,1,1,1.0,3.0
9,Arsenal,Burnley,5,0,1,1.0,4.0
10,Arsenal,Chelsea,2,2,0,0.0,2.0
11,Arsenal,Chelsea,5,0,1,0.5,3.5
12,Arsenal,Crystal Palace,1,0,1,1.0,1.0
13,Arsenal,Crystal Palace,5,0,1,1.0,3.0
14,Arsenal,Everton,1,0,1,1.0,1.0
15,Arsenal,Everton,2,1,1,1.0,1.5
16,Arsenal,Fulham,2,2,0,0.0,2.0
17,Arsenal,Fulham,1,2,-1,-0.5,1.5
18,Arsenal,Liverpool,1,1,0,0.0,1.0
19,Arsenal,Liverpool,3,1,1,0.5,2.0

In [9]:
df_h2h.to_csv("head_to_head_updated.csv", index=False)
print("Head-to-head dataset saved")

Head-to-head dataset saved

In [10]:
import joblib

# Try loading the model
model = joblib.load("match_predictor.pkl")

print("✅ Model loaded successfully!")

✅ Model loaded successfully!